<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>laboratory</display-name>
    
    
    
    
    
    
    <filter>
	    <filter-name>filterTest</filter-name>
	    <filter-class>laboratory.MyFilter</filter-class>
    </filter>
    <filter-mapping>
	    <filter-name>filterTest</filter-name>
	    <url-pattern>*.abc</url-pattern>
    </filter-mapping>
    
<!--    	<filter> -->
<!-- 		<description>字符集过滤器</description> -->
<!-- 		<filter-name>encodingFilter</filter-name> -->
<!-- 		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> -->
<!-- 		<init-param> -->
<!-- 			<description>字符集编码</description> -->
<!-- 			<param-name>encoding</param-name> -->
<!-- 			<param-value>UTF-8</param-value> -->
<!-- 		</init-param> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>encodingFilter</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
    
    
    <servlet>
    	<servlet-name>servletTest</servlet-name>
    	<servlet-class>laboratory.ServletTest</servlet-class>
    </servlet>
    <servlet-mapping>
	    <servlet-name>servletTest</servlet-name>
	    <url-pattern>*.servletTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>